@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 44rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #b9bee5;
  background-image: url("./cosmos.jpg");
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
}

.welcome-text {
  margin: 9rem 0 2.5rem 0;
  color: #fff;
  font-weight: 500;
  font-size: 5.5rem;
  box-shadow: 0 4px 19px rgba(0, 0, 0, 0.97);
}

.container {
  width: 38.9rem;
  height: 81.6rem;
  background: #171929;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 27px;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.7);
}

h1 {
  margin: 4rem 7.5rem 1rem 7.5rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
}

.container--hint {
  color: #797ea3;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
}

/* Form */

#form {
  width: 80%;
}

.form-group {
  height: 6.5rem;
  margin-bottom: 3rem;
}

.form-group.terms {
  margin-bottom: 0;
  text-align: center;
  margin-top: -1rem;
}

.form-group.terms input {
  margin-right: 2rem;
}

.form-group.submit {
  display: flex;
  justify-content: center;
  margin-top: -1rem;
}

label {
  position: relative;
  color: #797ea3;
  font-weight: 300;
  font-size: 1.5rem;
  bottom: 7px;
}

input {
  width: 100%;
  height: 3.4rem;
  font-family: "Roboto", sans-serif;
  padding: 5px;
  background: #171929;
  color: #fff;
  outline: none;
  border: none;
  border-bottom: 1px solid #3f4363;
  box-sizing: border-box;
  transition: all 0.3s;
}

input:focus {
  border-bottom: 1px solid #fff;
}

input:is([type="checkbox"]) {
  appearance: none;
  width: 3rem;
  height: 3rem;
  background: #2c2f47;
  border-radius: 0.3rem;
  transition: background-color 300ms, border-color 300ms;
}

input:is([type="checkbox"]):checked {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='-10 -10 64.56 64.56'%3E%3Cpath d='M23.297 38.74a6.563 6.563 0 0 1-10.16.499L1.308 26.112a5.083 5.083 0 1 1 7.551-6.805l8.369 9.288a.617.617 0 0 0 .956-.047L35.386 5.217a5.083 5.083 0 1 1 8.181 6.032L23.297 38.74z'/%3E%3C/svg%3E"),
    #2c2f47;
  background-repeat: no-repeat;
  border: 2px solid #2c2f47;
}

textarea {
  width: 100%;
  height: 3.4rem;
  font-family: "Roboto", sans-serif;
  resize: none;
  padding: 5px;
  background: #171929;
  color: #fff;
  outline: none;
  border: none;
  border-bottom: 1px solid #3f4363;
  box-sizing: border-box;
  transition: all 0.3s;
}

a {
  color: #b9bee5;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  background: #2c2f47;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 28px;
  height: 44px;
  width: 121px;
}

button:hover {
  border: 1px solid #b9bee5;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: progress;
}
